@model AccaProduction.Models.Rok

@{
    ViewData["Title"] = "Brisanje roka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Brisanje roka</h2>
<hr />

<h3>Potvrdite brisanje sledećeg ispitnog roka</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivRoka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NazivRoka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-sm btn-danger" />
        <a asp-action="Index" class="btn btn-sm btn-success">Povratak na pregled rokova</a>
    </form>
</div>
